*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}
 body{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 background-image: url(img/clima.png);
    }
    .input{
        text-align: center;
    margin: 100px;
    }
